.y-notication {
    position: fixed;
    display: block;
    width: 300px;
}

.y-notification-msg {
    opacity: 0;
    margin: 5px 0;
    padding: 8px 10px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-animation: fade-in .5s forwards ease-in-out;
    -moz-animation:    fade-in .5s forwards ease-in-out;
    animation:         fade-in .5s forwards ease-in-out;
}

.y-notification-msg.success.fadeout,
.y-notification-msg.info.fadeout,
.y-notification-msg.warn.fadeout,
.y-notification-msg.error.fadeout
{
    -webkit-animation: fade-out 1s forwards ease-out;
    -moz-animation:    fade-out 1s forwards ease-out;
    animation:         fade-out 1s forwards ease-out;
}

@-webkit-keyframes fade-in {
    0%   { opacity: 0; margin-top: -10px;}
    100% { opacity: 1; margin-top: 0;}
}
@-moz-keyframes fade-in {
    0%   { opacity: 0; margin-top: -10px;}
    100% { opacity: 1; margin-top: 0;}
}
@-o-keyframes fade-in {
    0%   { opacity: 0; margin-top: -10px;}
    100% { opacity: 1; margin-top: 0;}
}
@keyframes fade-in {
    0%   { opacity: 0; margin-top: -10px;}
    100% { opacity: 1; margin-top: 0;}
}

@-webkit-keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.y-notification-msg.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.y-notification-msg.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.y-notification-msg.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.y-notification-msg.warn {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

